@import "./color_schemes/dark";

$purple-000: #191830;
$purple-100: #1f1f41;
$purple-200: #a599e9;
$yellow-000: #ffee80;
$green-000: #2fd914;
$blue-000: #9effff;

$body-background-color: $purple-000;
$body-heading-color: $green-000;
$sidebar-color: $purple-100;
$body-text-color: $yellow-000;
$link-color: $blue-000;
$nav-child-link-color: $green-000;
$btn-primary-color: $purple-200;

$nav-width: 7.5rem;
$nav-width-md: 6.5rem;
$nav-list-item-height: $sp-8;
$nav-list-item-height-sm: $sp-10;
$nav-list-expander-right: false;

