@import "./color_schemes/dark";

$purple-000: #191830;
$purple-100: #1f1f41;
$purple-200: #a599e9;
$yellow-000: #ffee80;

$body-background-color: $purple-000;
$body-heading-color: $purple-100;
$body-text-color: $yellow-000;
